POST = 
MONGODB_URI = 
CORS_ORIGIN= 

# this is the secret key used to sign the JWT tokens. It should be kept secret and not shared with anyone.
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ---------------